{
  "parser": "babel-eslint",
  "plugins": [
    "moment-utc",
    "react"
  ],
  "env": {                           // http://eslint.org/docs/user-guide/configuring.html#specifying-environments
    "es6": true,
    "node": true,
    "browser": true
  },
  "globals": {
    "describe": true,
    "xdescribe": true,
    "it": true,
    "xit": true,
    "afterEach": true,
    "beforeEach": true,
    "before": true,
    "after": true
  },
  "ecmaFeatures": {
    "arrowFunctions": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "forOf": true,
    "generators": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralDuplicateProperties": false,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "spread": true,
    "superInFunctions": true,
    "templateStrings": true,
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
/**
 * ES6
 */
    "no-var": 0,                     // http://eslint.org/docs/rules/no-var
    "prefer-const": 0,               // http://eslint.org/docs/rules/prefer-const

/**
 * Variables
 */
    "no-shadow": 2,                  // http://eslint.org/docs/rules/no-shadow
    "no-shadow-restricted-names": 2, // http://eslint.org/docs/rules/no-shadow-restricted-names
    "no-unused-vars": [1, {          // http://eslint.org/docs/rules/no-unused-vars
      "vars": "local",
      "args": "none"
    }],
    "no-use-before-define": 2,       // http://eslint.org/docs/rules/no-use-before-define

/**
 * Possible errors
 */
    "constructor-super": 2,          // http://eslint.org/docs/rules/constructor-super
    "no-unsafe-finally": 2,          // http://eslint.org/docs/rules/no-unsafe-finally
    "no-case-declarations": 2,       // http://eslint.org/docs/rules/no-case-declarations
    "no-const-assign": 2,            // http://eslint.org/docs/rules/no-const-assign
    "no-empty-pattern": 2,           // http://eslint.org/docs/rules/no-empty-pattern
    "no-dupe-class-members": 2,      // http://eslint.org/docs/rules/no-dupe-class-members
    "no-self-assign": 2,             // http://eslint.org/docs/rules/no-self-assign
    "no-new-symbol": 2,              // http://eslint.org/docs/rules/no-new-symbol
    "no-this-before-super": 2,       // http://eslint.org/docs/rules/no-this-before-super
    "require-yield": 2,              // http://eslint.org/docs/rules/require-yield
    "handle-callback-err": [1, "err"],        // http://eslint.org/docs/rules/handle-callback-err
    "no-cond-assign": [2, "always"], // http://eslint.org/docs/rules/no-cond-assign
    "no-console": 1,                 // http://eslint.org/docs/rules/no-console
    "no-debugger": 1,                // http://eslint.org/docs/rules/no-debugger
    "no-alert": 1,                   // http://eslint.org/docs/rules/no-alert
    "no-constant-condition": 1,      // http://eslint.org/docs/rules/no-constant-condition
    "no-dupe-args": 2,               // http://eslint.org/docs/rules/no-dupe-args
    "no-dupe-keys": 2,               // http://eslint.org/docs/rules/no-dupe-keys
    "no-duplicate-case": 2,          // http://eslint.org/docs/rules/no-duplicate-case
    "no-empty": 1,                   // http://eslint.org/docs/rules/no-empty
    "no-ex-assign": 2,               // http://eslint.org/docs/rules/no-ex-assign
    "no-extra-boolean-cast": 0,      // http://eslint.org/docs/rules/no-extra-boolean-cast
    "no-extra-semi": 2,              // http://eslint.org/docs/rules/no-extra-semi
    "no-func-assign": 2,             // http://eslint.org/docs/rules/no-func-assign
    "no-inner-declarations": 2,      // http://eslint.org/docs/rules/no-inner-declarations
    "no-invalid-regexp": 2,          // http://eslint.org/docs/rules/no-invalid-regexp
    "no-irregular-whitespace": 2,    // http://eslint.org/docs/rules/no-irregular-whitespace
    "no-obj-calls": 2,               // http://eslint.org/docs/rules/no-obj-calls
    "no-sparse-arrays": 2,           // http://eslint.org/docs/rules/no-sparse-arrays
    "no-unreachable": 2,             // http://eslint.org/docs/rules/no-unreachable
    "use-isnan": 2,                  // http://eslint.org/docs/rules/use-isnan
    "block-scoped-var": 2,           // http://eslint.org/docs/rules/block-scoped-var

/**
 * Best practices
 */
    "consistent-return": [1, {        // http://eslint.org/docs/rules/consistent-return
      "treatUndefinedAsUnspecified": false
    }],
    "curly": [1, "multi-line"],      // http://eslint.org/docs/rules/curly
    "default-case": 2,               // http://eslint.org/docs/rules/default-case
    "dot-notation": [1, {            // http://eslint.org/docs/rules/dot-notation
      "allowKeywords": true
    }],
    "eqeqeq": 1,                     // http://eslint.org/docs/rules/eqeqeq
    "guard-for-in": 2,               // http://eslint.org/docs/rules/guard-for-in
    "no-labels": 2,                  // http://eslint.org/docs/rules/no-labels
    "no-class-assign": 2,            // http://eslint.org/docs/rules/no-class-assign
    "no-caller": 2,                  // http://eslint.org/docs/rules/no-caller
    "no-else-return": 0,             // http://eslint.org/docs/rules/no-else-return
    "no-eq-null": 1,                 // http://eslint.org/docs/rules/no-eq-null
    "no-eval": 2,                    // http://eslint.org/docs/rules/no-eval
    "no-extend-native": 2,           // http://eslint.org/docs/rules/no-extend-native
    "no-extra-bind": 2,              // http://eslint.org/docs/rules/no-extra-bind
    "no-extra-strict": 0,            // http://eslint.org/docs/rules/no-extra-strict
    "no-fallthrough": 2,             // http://eslint.org/docs/rules/no-fallthrough
    "no-floating-decimal": 2,        // http://eslint.org/docs/rules/no-floating-decimal
    "no-implied-eval": 2,            // http://eslint.org/docs/rules/no-implied-eval
    "no-lone-blocks": 2,             // http://eslint.org/docs/rules/no-lone-blocks
    "no-loop-func": 2,               // http://eslint.org/docs/rules/no-loop-func
    "no-multi-str": 2,               // http://eslint.org/docs/rules/no-multi-str
    "no-native-reassign": 2,         // http://eslint.org/docs/rules/no-native-reassign
    "no-new": 2,                     // http://eslint.org/docs/rules/no-new
    "no-new-func": 2,                // http://eslint.org/docs/rules/no-new-func
    "no-new-wrappers": 2,            // http://eslint.org/docs/rules/no-new-wrappers
    "no-octal": 2,                   // http://eslint.org/docs/rules/no-octal
    "no-octal-escape": 2,            // http://eslint.org/docs/rules/no-octal-escape
    "no-param-reassign": 1,          // http://eslint.org/docs/rules/no-param-reassign
    "no-proto": 2,                   // http://eslint.org/docs/rules/no-proto
    "no-redeclare": 2,               // http://eslint.org/docs/rules/no-redeclare
    "no-return-assign": 2,           // http://eslint.org/docs/rules/no-return-assign
    "no-script-url": 2,              // http://eslint.org/docs/rules/no-script-url
    "no-self-compare": 2,            // http://eslint.org/docs/rules/no-self-compare
    "no-sequences": 2,               // http://eslint.org/docs/rules/no-sequences
    "no-throw-literal": 2,           // http://eslint.org/docs/rules/no-throw-literal
    "no-useless-call": 2,            // http://eslint.org/docs/rules/no-useless-call
    "no-with": 2,                    // http://eslint.org/docs/rules/no-with
    "radix": 2,                      // http://eslint.org/docs/rules/radix
    "vars-on-top": 0,                // http://eslint.org/docs/rules/vars-on-top
    "wrap-iife": [2, "any"],         // http://eslint.org/docs/rules/wrap-iife
    "yoda": 2,                       // http://eslint.org/docs/rules/yoda

/**
 * Style
 */
    "comma-dangle": [1, "never"],    // http://eslint.org/docs/rules/comma-dangle
    "indent": [1, 2, {"SwitchCase": 1}], // http://eslint.org/docs/rules/indent
    "brace-style": [1,               // http://eslint.org/docs/rules/brace-style
      "1tbs", {
      "allowSingleLine": true
    }],
    "quotes": [
      0, "single", "avoid-escape"    // http://eslint.org/docs/rules/quotes
    ],
    "camelcase": [1, {               // http://eslint.org/docs/rules/camelcase
      "properties": "never"
    }],
    "comma-spacing": [1, {           // http://eslint.org/docs/rules/comma-spacing
      "before": false,
      "after": true
    }],
    "comma-style": [1, "last"],      // http://eslint.org/docs/rules/comma-style
    "eol-last": 1,                   // http://eslint.org/docs/rules/eol-last
    "func-names": 0,                 // http://eslint.org/docs/rules/func-names
    "generator-star-spacing": [1, {"before": false, "after": true}],  // http://eslint.org/docs/rules/generator-star-spacing.html
    "key-spacing": [1, {             // http://eslint.org/docs/rules/key-spacing
        "beforeColon": false,
        "afterColon": true
    }],
    "new-cap": [1, {                 // http://eslint.org/docs/rules/new-cap
      "newIsCap": true,
      "capIsNewExceptions": [
        // Express
        "Router",

        // Immutable
        "Map",
        "List",
        "Set",
        "OrderedSet",
        "OrderedMap",
        "Stack",
        "Record"
      ]
    }],
    "new-parens": [1],               // http://eslint.org/docs/rules/new-parens
    "no-multiple-empty-lines": [1, { // http://eslint.org/docs/rules/no-multiple-empty-lines
      "max": 2
    }],
    "no-multi-spaces": 1,            // http://eslint.org/docs/rules/no-multi-spaces
    "no-nested-ternary": 1,          // http://eslint.org/docs/rules/no-nested-ternary
    "no-new-object": 2,              // http://eslint.org/docs/rules/no-new-object
    "no-spaced-func": 1,             // http://eslint.org/docs/rules/no-spaced-func
    "no-trailing-spaces": 1,         // http://eslint.org/docs/rules/no-trailing-spaces
    "no-extra-parens": [0, "functions"],   // http://eslint.org/docs/rules/no-extra-parens
    "no-undef": [2, { "typeof": false } ], // http://eslint.org/docs/rules/no-undef
    "no-underscore-dangle": 0,       // http://eslint.org/docs/rules/no-underscore-dangle
    "one-var": [1, "never"],         // http://eslint.org/docs/rules/one-var
    "padded-blocks": [1, "never"],   // http://eslint.org/docs/rules/padded-blocks
    "semi": [2, "always"],           // http://eslint.org/docs/rules/semi
    "semi-spacing": [1, {            // http://eslint.org/docs/rules/semi-spacing
      "before": false,
      "after": true
    }],
    "keyword-spacing": [1, {        // http://eslint.org/docs/rules/keyword-spacing
        "before": true,
        "after": true
      }
    ],
    "space-before-blocks": 1,        // http://eslint.org/docs/rules/space-before-blocks
    "space-before-function-paren": [1, "never"], // http://eslint.org/docs/rules/space-before-function-paren
    "space-infix-ops": 1,            // http://eslint.org/docs/rules/space-infix-ops
    "spaced-comment": [1, "always",  {// http://eslint.org/docs/rules/spaced-comment
      "exceptions": ["-", "+"],
      "markers": ["=", "!"]           // space here to support sprockets directives
    }],

/**
 * Plugins
 */
    "moment-utc/no-moment-without-utc": 2, // https://github.com/wunderflats/eslint-plugin-moment-utc/blob/master/docs/rules/no-moment-without-utc.md

/**
 * React
 */
    "react/self-closing-comp": 1,       // https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/self-closing-comp.md
    "react/require-render-return": 2,   // https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/require-render-return.md
    "react/react-in-jsx-scope": 2,   // https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/react-in-jsx-scope.md
    "react/prop-types": 1,           // https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/prop-types.md
    "react/prefer-stateless-function": 1,  // https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/prefer-stateless-function.md
    "react/no-string-refs": 1,       // https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/no-string-refs.md
    "react/no-unknown-property": 1,  // https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/no-unknown-property.md
    "react/no-deprecated": 2,        // https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/no-deprecated.md
    "react/no-did-mount-set-state": 1,     // https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/no-did-mount-set-state.md
    "react/no-did-update-set-state": 1,    // https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/no-did-update-set-state.md
    "react/no-direct-mutation-state": 2,   // https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/no-direct-mutation-state.md
    "react/no-find-dom-node": 2,    // https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/no-find-dom-node.md
    "react/no-is-mounted": 2,       // https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/no-is-mounted.md

/**
 * JSX
 */
    "react/jsx-uses-vars": 1,       // https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-uses-vars.md
    "react/jsx-uses-react": 1,      // https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-uses-react.md
    "react/jsx-no-undef": 1,        // https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-no-undef.md
    "react/jsx-boolean-value": [1, "always"],  // https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-boolean-value.md
    "react/jsx-closing-bracket-location": 1,   // https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-closing-bracket-location.md
    "react/jsx-no-duplicate-props": 2,         // https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-no-duplicate-props.md
    "react/jsx-key": 2,             // https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-key.md
    "react/jsx-indent": [1, 2],     // https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-indent.md
    "react/jsx-indent-props": [1, 2],          // https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-indent-props.md
    "react/jsx-no-comment-textnodes": 2,       // https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-no-comment-textnodes.md
    "react/jsx-no-target-blank": 2, // https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-no-target-blank.md
    "react/jsx-wrap-multilines": 1  // https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-wrap-multilines.md
  }
}
